.default-color0.chart-series-line { -fx-stroke: transparent; }

.default-color0.chart-line-symbol {
    -fx-background-color: white, green;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: green;
}